<main>
  <div class="desert">
    <h1>Desert</h1>
    <app-score-table [data]="dataset1" [columns]="columns"></app-score-table>
  </div>
  <div class="mountain">
    <h1>Mountain</h1>
    <app-score-table [data]="dataset2" [columns]="columns"></app-score-table>
  </div>
  <div class="ocean">
    <h1>Ocean</h1>
    <app-score-table [data]="dataset3" [columns]="columns"></app-score-table>
  </div>
  <div class="forest">
    <h1>Forest</h1>
    <app-score-table [data]="dataset4" [columns]="columns"></app-score-table>
  </div>
  <div class="clouds">
    <h1>Clouds</h1>
    <app-score-table [data]="dataset5" [columns]="columns"></app-score-table>
  </div>
</main>
