<main>
  <div class="enum1">
    <h1>Enum1</h1>
    <app-score-table [data]="dataset1" [columns]="columns"></app-score-table>
  </div>
  <div class="enum2">
    <h1>Enum2</h1>
    <app-score-table [data]="dataset2" [columns]="columns"></app-score-table>
  </div>
  <div class="enum3">
    <h1>Enum3</h1>
    <app-score-table [data]="dataset3" [columns]="columns"></app-score-table>
  </div>
  <div class="enum4">
    <h1>Enum4</h1>
    <app-score-table [data]="dataset4" [columns]="columns"></app-score-table>
  </div>
  <div class="enum5">
    <h1>Enum5</h1>
    <app-score-table [data]="dataset5" [columns]="columns"></app-score-table>
  </div>
</main>
