<main>
  <div class="enum1">
    <h1>Desert</h1>
    <app-score-table [data]="dataset1" [columns]="columns"></app-score-table>
  </div>
  <div class="enum2">
    <h1>Mountain</h1>
    <app-score-table [data]="dataset2" [columns]="columns"></app-score-table>
  </div>
  <div class="enum3">
    <h1>Ocean</h1>
    <app-score-table [data]="dataset3" [columns]="columns"></app-score-table>
  </div>
  <div class="enum4">
    <h1>Forest</h1>
    <app-score-table [data]="dataset4" [columns]="columns"></app-score-table>
  </div>
  <div class="enum5">
    <h1>Clouds</h1>
    <app-score-table [data]="dataset5" [columns]="columns"></app-score-table>
  </div>
</main>
