main {
  width: 100vw;
  height: 100vh;
  justify-items: center;
  padding-top: 2%;
}
form {
  justify-items: center;
}
p {
  display: flex;
  justify-self: center;
  color: gold;
  font-size: 3em;
  font-family: cursive;
}
.spacer-and-submit {
  padding-top: 5px;
}
.radio-button.submit-button:disabled {
  background: rgb(149, 149, 149);
  border-color: rgb(148, 114, 27);
  color: rgb(79, 72, 69);
  cursor: auto;
}
.radio-button-group {
  padding-top: 1em;
  display: flex;
  gap: 3em;
}

.radio-button {
  display: inline-block;
  padding: 10px 24px;
  border: 2px solid goldenrod;
  border-radius: 6px;
  background-color: rgb(222, 226, 227);
  color: rgb(69, 28, 8);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s, color 0.3s;
}

/* Hide the native radio input but keep it accessible */
.radio-button-group input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Style the label when the corresponding radio is checked */
.radio-button-group input[type="radio"]:checked + label.radio-button {
  background-color: gold;
  color: rgb(69, 28, 8);
  box-shadow: 0 0 8px rgb(69, 28, 8);
}
img {
  padding-top: 1em;
  height: 50vh;
}
.feedback {
  font-size: small;
  color: white;
}
.parent {
  display: flex;
  gap: 10px;
  justify-items: center;
}
.healthBar {
  font-size: medium;
}
span {
  font-size: x-large;
  color: gold;
}
.center {
  display: flex;
  flex-direction: column;
}
.equation,
.feedback {
  margin: auto;
}
.arrow {
  max-width: 50px;
}
.left,
.right {
  margin-top: 5vh;
}
.right {
  padding-left: 1em;
}
.left {
  padding-right: 1em;
}
input {
  max-width: 100px;
  background-color: rgb(222, 226, 227);
}
.input {
  font-size: xx-large;
}
.answer {
  border: 2px solid goldenrod;
  border-radius: 6px;
  background-color: gold;
  color: rgb(69, 28, 8);
}
