<main>
  <div class="modebox" *ngIf="!game; else gamebox">
    <p>Choose a game mode and difficulty:</p>
    <form>
      <div class="radio-button-group" id="difficulty">
        <input type="radio" id="easy" name="options" value="1" hidden />
        <label for="easy" class="radio-button">Easy</label>

        <input type="radio" id="medium" name="options" value="2" hidden />
        <label for="medium" class="radio-button">Medium</label>

        <input type="radio" id="hard" name="options" value="3" hidden />
        <label for="hard" class="radio-button">Hard</label>
      </div>
      <img src="/images/gameplay.png" />
      <div class="radio-button-group" id="game-mode">
        <input type="radio" id="sub" name="options" value="1" hidden />
        <label for="sub" class="radio-button">Desert (subtraction)</label>

        <input type="radio" id="add" name="options" value="2" hidden />
        <label for="add" class="radio-button">Ocean (addition)</label>

        <input type="radio" id="div" name="options" value="3" hidden />
        <label for="div" class="radio-button">Forest (division)</label>

        <input type="radio" id="mult" name="options" value="4" hidden />
        <label for="mult" class="radio-button">Volcano (mulitplication)</label>

        <input type="radio" id="mix" name="options" value="5" hidden />
        <label for="mix" class="radio-button">Clouds (mixed)</label>
      </div>
      <div class="spacer"></div>
      <button
        type="submit"
        class="radio-button submit-button"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </form>
  </div>
  <ng-template #gamebox>
    <p>Game works!</p>
  </ng-template>
</main>
