html {
  background-color: black;
  justify-items: center;
}
main {
  /*arrange border*/
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: 10px solid black;
  box-sizing: border-box;
  background-color: rgb(110, 48, 19);
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}
p {
  padding: 20px;
  color: gold;
  font-size: large;
  font-family: cursive;
}
.custom-tab-bar {
  display: flex;
  align-items: center;
}
.spacer {
  flex: 1 1 auto;
  background-color: black;
}
.footer {
  width: 100vw;
  bottom: 0;
  position: fixed;
  justify-content: center;
  font-size: small;
}
a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.2em;
  color: goldenrod !important;
}
a:visited {
  color: goldenrod !important;
  text-decoration: none;
}
.mat-nav {
  background: black;
  border-bottom: 2px solid rgb(69, 28, 8);
  color: blue;
}
.mat-nav .mat-mdc-tab-link {
  background: rgb(69, 28, 8);
  margin-right: 8px;
  border-radius: 10px 10px 0 0;
  color: rgb(183, 240, 84);
  position: relative;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
  border: 1px solid #9c6c23;
  border-bottom: none;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
}
