<html>
  <main>
    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        *ngFor="let link of leftLinks"
        [routerLink]="link.route"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{ link.label }}
      </a>
      <span class="spacer"></span>
      <a
        mat-tab-link
        *ngFor="let link of rightLinks"
        [routerLink]="link.route"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{ link.label }}
      </a>
    </nav>
    <p>Choose a game mode and difficulty:</p>
    <p class="footer">by cowhorse7 on Github</p>
  </main>
</html>
