<div class="userbox" *ngIf="!session; else profilebox">
  <h1>Log in to track your stats!</h1>
  <form (ngSubmit)="login()" #formLogin="ngForm">
    <label for="email">Email</label>
    <input
      type="text"
      class="email"
      name="email"
      required
      [(ngModel)]="email"
    />
    <button type="submit" [disabled]="formLogin.invalid">Go!</button>
  </form>
</div>
<ng-template #profilebox>
  <div>
    <h1>Hello, {{ username }}!</h1>
    <div class="award-box"></div>
    <button (click)="logout()">Log out</button>
  </div>
</ng-template>
